<%- include ../header %>


<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">


    <div class="col-md-8 order-md-1">
        <h4 class="mb-3">&nbsp;</h4>
        <h4 class="mb-3">Basic genre Details</h4>
        <form class="needs-validation" novalidate="" method="post">
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="firstName">Title</label>
                    <input type="text" class="form-control" id="title" name="title" placeholder="" value="" required="">

                </div>

            </div>


            <hr class="mb-4">
            <button class="btn btn-primary btn-lg btn-block" type="submit">Submit</button>
        </form>
    </div>
</main>

<%- include ../footer %>